@font-face {
    font-family: 'Bagel';
    src: url('/fonts/BagelFatOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Londrina';
    src: url('/fonts/LondrinaOutline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: 10rem;
    color: white;
    padding: 1rem 0 !important;
}

h2 {
    font-size: 5rem;
    margin: 0;
    color: white;
}

h3 {
    font-size: 3rem;
    color: white;
    margin: 0;
}
